.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #0f3046;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #070707 3%, #72f5fa 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #000000;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
.myVideo{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.space-invader {
  /* Modify size here: */
  --block-size: 5px;

  box-shadow: 0 0 0 var(--block-size) #eceaea,
  0 var(--block-size) 0 var(--block-size) #f0ecec,
  calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #e7e7e7,
  calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #ffffff,
  calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #fafafa,
  calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #ffffff,
  calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #fffefe,
  calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #f5f5f5,
  calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #fffefe,
  calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #f7f5f5,
  calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #ffffff,
  calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #f7f7f7,
  calc(var(--block-size) * -4) 0 0 0 #ffffff,
  calc(var(--block-size) * -3) 0 0 0 #eeeeee,
  calc(var(--block-size) * 3) 0 0 0 #ffffff,
  calc(var(--block-size) * 4) 0 0 0 #ffffff,
  calc(var(--block-size) * -5) var(--block-size) 0 0 #f3f3f3,
  calc(var(--block-size) * -4) var(--block-size) 0 0 #f5f2f2,
  calc(var(--block-size) * 4) var(--block-size) 0 0 #fcf9f9,
  calc(var(--block-size) * 5) var(--block-size) 0 0 #f8f6f6,
  calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #f3f3f3,
  calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #ffffff,
  calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #fffefe,
  calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #f1f1f1,
  calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #e7e3e3,
  calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #f1f1f1,
  calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #dddada,
  calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #eeeded,
  var(--block-size) calc(var(--block-size) * 4) 0 0 #fffdfd,
  calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #f1eeee;
  background: #d6d6d6;
  width: var(--block-size);
  height: var(--block-size);
  overflow: hidden;
}@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.space-invader {
  animation: move 5s linear infinite;
}
